table,
th,
td {
    border: 2px solid aliceblue;
    color: aliceblue;

    position: relative;
}

table {
    width: 100%;
}

th {
    padding: 15px;
    font-size: 20px;
    font-family: sans-serif;
}

td {
    color: aliceblue;
    padding: 15px;
    font-size: 20px;
    font-family: sans-serif;
    text-align: center;
}